nav {
    background: #0dce94;
}

nav a {
    color: #04091e;
}

nav a:hover {
    color: #04091e;
    font-weight: bold;
}


/**************************/

main {
    min-height: 100%;
}

footer {
    margin-top: 50px;
}


/* .social-links a {
    padding-top: 15px;
} */


/**************************/