body {
  background: #fff;
}

nav {
  background: #0dce94;
}

nav a {
  color: #04091e;
}

nav a:hover {
  color: #04091e;
  font-weight: bold;
}

/**************************/

main {
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 50px;
}

/*****************************/

.counter-up {
  background: no-repeat url("../Images/about.jpg");
  min-height: 50vh;
  display: flex;
  align-items: center;
  padding: 0 100px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.counter-up::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.counter-up .content {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.content .box {
  width: (25%-30px);
  /* border: 1px dashed rgba(255, 255, 255, 0.6); */
  border-radius: 5px;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  flex-direction: column;
  border-radius: 5px;
}

.content .box .icon {
  font-size: 48px;
  color: #e6e6e6;
}

.content .box .counter {
  font-size: 50px;
  color: #f2f2f2;
  font-weight: 500;
}

.content .box .text {
  color: #ccc;
  font-weight: 400;
}

@media (max-width: 1036px) {
  .counter {
    padding: 50px 50px 0 50px;
  }
  .content .box {
    width: calc(50%-30px);
    margin-bottom: 50px;
  }
}

@media (max-width: 580px) {
  .content .box {
    width: 100%;
    margin-bottom: 50px;
  }
}

/**********************/

.title {
  min-height: 30vh;
  display: grid;
  place-content: center;
  text-align: center;
}

h1 {
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: #fff;
  animation: typewriter 3s steps(31) 1s forwards;
}

h1::after {
  width: 0.1em;
  background: black;
  animation: typewriter 3s steps(32) 1s forwards, blink 750ms steps(31) infinite;
}

.subtitle {
  color: hsl(0, 0%, 0% / 0.7);
  /*  font-size: 2rem;*/
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 5s forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/******************/
.section-logo {
  padding: 4.8rem 0;
}

.heading-logos {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 4rem;
  margin-bottom: 2.4rem;
}

/***************************/
.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonials-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.2rem;
  color: #888;
}

.gallery {
  margin-top: 150px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 3rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #0dce94;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-secondary {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 4.6rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
