/*section top*/
.container-top-section {
  height: 104vh;
}

.img-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.heading-top-section {
  color: #04091e8a;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 27%;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  transform: translateY(10rem);
  animation: fadeInUp 3s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*customer logos*/

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  /*1rem = 16px => 64px / 16px = 4rem */
  height: 4rem;
}

/*timeline*/

.timeline-intro-heading {
  color: var(--light-green);
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 70px;
}

.timeline-intro-paragraph {
  text-align: center;
  line-height: 1.7;
  margin: 25px 0;
}

.timeline {
  margin: 45px auto;
  display: grid;
  /*3 columns, fr = fractional unit*/
  grid-template-columns: 1fr 3px 1fr;
  max-width: 65vw;
}

.timeline-component {
  /*margin: top, right, bottom, left*/
  margin: 0 20px 20px 20px;
}

.timeline-date--right {
  text-align: right;
}

.timeline-line {
  position: relative;
  background: var(--dark-blue);
}

.timeline-point {
  width: 15px;
  height: 15px;
  position: absolute;
  background: var(--dark-blue);
  left: 50%;
  transform: translateX(-50%);
}

.timeline-component--bg {
  padding: 1.5em;
  border: 2px solid var(--light-green);
}

.timeline-title {
  font-size: 1.15em;
  margin-bottom: 10px;
}

.timeline-paragraph {
  line-height: 1.7;
}

/*counter-up*/

.counter-up {
  min-height: 50vh;
  background: no-repeat url("../Images/about-top.webp");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 100px;
  margin-top: 50px;
}

.counter-up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.content {
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.box {
  padding: 70px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icon {
  color: var(--gray);
  font-size: 48px;
}

.counter,
.text {
  color: var(--white);
  font-weight: 500;
}
.counter {
  font-size: 50px;
}

/***************************/
.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--light-green);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-secondary {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 4.6rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonials-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.2rem;
  color: #888;
}

.gallery {
  margin-top: 150px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 3rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
