nav {
  background: var(--light-green);
}

/*icon, title, paragraph*/
.icon-top {
  width: 5%;
  display: block;
  /*margin: top, right left, bottom*/
  margin: 150px auto 0;
}

.title-page {
  text-align: center;
  font-size: 55px;
  font-weight: 400;
  text-transform: capitalize;
  /*margin: top bottom*/
  margin: 20px 0;
}

.paragraph-top {
  text-align: center;
  font-size: 20px;
  line-height: 1.7;
}

/*normal images*/
.parent-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  grid-column-gap: 100px;
}

.div1,
.div3 {
  margin-left: auto;
}

.div2,
.div4 {
  margin-right: auto;
}

.div1 img,
.div2 img,
.div3 img,
.div4 img {
  width: 600px;
  cursor: pointer;
}

.doctor-info {
  width: 320px;
  color: var(--dark-blue);
  background-color: var(--light-green);
  font-size: 20px;
  font-weight: 500;
  padding: 9px 15px;
  position: relative;
  bottom: 86px;
  left: 25px;
}

/*popup images*/
.popup-view {
  color: #03045e;
  background-color: #04091e90;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
}

.popup-view.active {
  opacity: 1;
  visibility: visible;
}

.popup-card {
  position: relative;
  display: flex;
  width: 800px;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  z-index: 3;
  position: absolute;
  right: 0;
}

.product-img {
  width: 42%;
  height: 70%;
  display: flex;
  position: relative;
  justify-content: center;
  transform: translateY(30px);
}

.product-img img {
  position: relative;
  width: 450px;
  left: -57px;
  top: 30px;
}

/*popup*/

.info {
  z-index: 2;
  background: var(--light-green);
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
}

.popup-card .info h2 {
  font-size: 25px;
  /*line-height: 30px;*/
  margin: 10px;
}

.popup-card .info h2 span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.popup-card .info p {
  font-size: 15px;
  margin: 10px;
  line-height: 1.5;
}

.popup-card .info .tel,
.mail {
  font-size: 15px;
  margin: 10px;
  font-size: 15px;
  color: #03045e;
}

.popup-card .info .text {
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.popup-card .info .tel a,
.mail a {
  color: var(--dark-blue);
  text-decoration: none;
  font-weight: 300;
}

.popup-card .info .tel a:hover {
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
}

.popup-card .info .mail a:hover {
  color: var(--white);
  text-decoration: none;
  font-weight: 300;
}

.popup-card .info .social-links {
  margin: 10px;
}
