* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}

.header-top {
  background: #04091e;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.header-top li {
  margin: 1rem;
  display: inline-block;
}

.header-top a {
  color: #fff;
  text-decoration: none;
}

.left-info {
  margin-left: 80px;
}

.img-fb,
.img-telegram,
.img-twitter {
  width: 12px;
  height: 12px;
  transform: scale(1.5);
}

.right-info {
  margin-right: 80px;
}

#logo img {
  width: 75px;
  height: 75px;
  margin-left: 75px;
}

nav {
  position: absolute;
  height: 80px;
  width: 100%;
  font-size: 16px;
  line-height: 80px;
  z-index: 1;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  color: #04091e;
  font-weight: bold;
}

nav ul {
  float: right;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

.nav-menu {
  margin-right: 75px;
}

.current {
  color: #04091e;
}

/*footer*/

.footer {
  background-color: #04091e;
  padding: 70px 0;
}

.container-footer {
  max-width: 1170px;
  margin: auto;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 30px 3px;
}

.footer-col a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col a::before {
  text-decoration: none;
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #0dce94;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-bottom {
  background: #0dce94;
  color: #04091e;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  align-items: flex-end;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
