nav {
  background: #0dce94;
}

nav a {
  color: #04091e;
}

nav a:hover {
  color: #04091e;
  font-weight: bold;
}

/************************/

.search-bar {
  font-size: 16px;
  margin-top: 30px;
  margin-left: 70px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border-style: solid;
  float: right;
  margin-right: 95px;
  width: 300px;
}

main {
  min-height: 100%;
}

footer {
  margin-top: 1100px;
}

table {
  padding-bottom: 50px;
  position: absolute;
  left: 7%;
  top: 30%;
  width: 87%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 5px 5px 0 0;
}

th,
td {
  padding: 10px 70px;
}

th {
  background-color: #04091e;
  color: #fff;
  text-transform: uppercase;
}

tr:hover {
  box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2), -1px -1px 8px rgb(0, 0, 0, 0.2);
  font-weight: 700;
  color: #087c59;
}

tr:nth-child(odd) {
  background-color: #e6e6e69d;
}
