nav {
  background: #0dce94;
}

.search-bar {
  width: 300px;
  float: right;
  font-size: 16px;
  /*margin: top right bottom left*/
  margin: 110px 95px 0 70px;
  padding: 5px 0 5px 15px;
  border-style: solid;
}

table {
  text-align: center;
  position: absolute;
  left: 7%;
  top: 30%;
  width: 87%;
  border-spacing: 0;
}

tr:nth-child(odd) {
  background-color: #e6e6e69d;
}

tr:hover {
  box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.2), -1px -1px 8px rgb(0, 0, 0, 0.2);
  font-weight: 700;
  color: #087c59;
}

th {
  color: #fff;
  background-color: #04091e;
  text-transform: uppercase;
}

th,
td {
  padding: 10px 70px;
}

footer {
  margin-top: 68.75rem; /*1100px*/
}
