@media (min-width: 160em) {
  .header-top {
    font-size: 1.2rem;
  }

  .header-top li {
    margin: 1.5rem;
  }

  .img-fb,
  .img-telegram,
  .img-twitter {
    transform: scale(2.2);
  }

  #logo img {
    width: 6.7rem;
    height: 6.7rem;
  }

  nav {
    font-size: 1.5rem;
    line-height: 7rem;
  }

  nav li {
    margin-right: 29px;
  }

  .text {
    padding-top: 18rem;
  }

  h1 {
    font-size: 6rem;
  }

  .text a {
    padding: 15px 35px;
    font-size: 1.8rem;
    margin-top: 3rem;
  }

  .text p {
    font-size: 1.8rem;
  }

  .bg-cards {
    margin-top: 72em;
  }

  .text-bg-cards h4 {
    font-size: 1.5rem;
  }

  .text-bg-cards h3 {
    font-size: 3rem;
  }

  .container-cards {
    margin-top: 90em;
  }

  .card-one,
  .card-two,
  .card-three,
  .card-four {
    width: 37rem;
    height: 37rem;
    padding: 2rem;
  }

  .img-cards {
    width: 5rem;
  }

  .title-cards {
    font-size: 3.5rem;
  }

  .paragraph-cards {
    font-size: 1.7rem;
    /*  line-height: 2; */
    padding: 70px 0 55px 0;
  }
  .img-tel {
    width: 3.5rem;
  }

  .container-tel a {
    font-size: 1.7rem;
  }

  .card-three ul {
    font-size: 1.7rem;
    top: 50px;
  }

  .hours-one {
    padding-left: 8rem;
  }

  .hours-two {
    padding-left: 10rem;
  }

  .hours-three {
    padding-left: 9.6rem;
  }

  .line {
    width: 95%;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }

  .button-cards {
    font-size: 1.7rem;
    padding: 20px 32px;
  }

  .quotes-cards {
    font-size: 2rem;
  }

  .img-quotes {
    width: 7.7rem;
    height: 7.7rem;
  }

  .author {
    font-size: 1.8rem;
  }

  .div1 img {
    margin-top: 5rem;
    transform: scale(2.5);
  }

  .div2 img {
    margin-top: 14rem;
    transform: scale(2.5);
  }

  .parent {
    margin: 54px 0 0 330px;
  }

  .div3 h2 {
    margin-top: 12rem;
    font-size: 4rem;
  }

  .div3 li {
    background: url("/public/Images/logo_lista.png") no-repeat left center;
    background-size: 5%;
    font-size: 25px;
    padding: 15px 9px 9px 80px;
    line-height: 2;
  }
}
