/*background and text form the top*/
.intro {
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  position: absolute;
  background-color: #04091e;
  transition: 0.5s;
}

.intro video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.6;
}

.text {
  padding-top: 120px;
  position: relative;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
  /*spațiul dintre rânduri*/
  line-height: 1.1;
  letter-spacing: -3px;
  text-transform: uppercase;
}

.text p {
  font-size: 20px;
  line-height: 1.7;
  color: #fff;
  margin: 20px 0;
}

.text a {
  display: inline-block;
  background: #0dce94;
  color: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 15px;
  letter-spacing: 2px;
}

.text a:hover {
  background: #0dce9494;
}

/*background card*/

.bg-cards {
  background: #04091e;
  width: 100%;
  min-height: 50vh;
  margin-top: 44em;
  position: absolute;
}

.text-bg-cards h4 {
  color: #0dce94;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 60px;
  letter-spacing: 1px;
}

.text-bg-cards h3 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  text-transform: capitalize;
}

/*cardurile*/
.container-cards {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 56em;
}

.card-one,
.card-two,
.card-three,
.card-four {
  width: 330px;
  height: 330px;
  background-color: #0dce94;
}

.card-one {
  border-radius: 10px 0 0 10px;
}

.img-cards {
  position: relative;
  left: 24px;
  top: 20px;
  width: 45px;
  height: auto;
}

.title-cards {
  color: #04091e;
  font-size: 36px;
  position: relative;
  left: 20px;
  top: 30px;
}

.paragraph-cards {
  color: #04091e;
  position: relative;
  left: 20px;
  padding: 46px 0 35px 0;
  line-height: 1.7;
}

.container-tel {
  position: relative;
  left: 28px;
  top: 17px;
}

.img-tel {
  width: 30px;
  height: auto;
}

.container-tel a {
  color: #04091e;
  text-decoration: none;
  font-size: 17px;
  padding-left: 20px;
}

.card-three ul {
  color: #04091e;
  padding-top: 10px;
  list-style: none;
  position: relative;
  left: 20px;
  top: 30px;
}

.card-three li {
  padding: 10px 0;
}

.hours-one {
  padding-left: 44px;
}

.hours-two {
  padding-left: 63px;
}

.hours-three {
  padding-left: 60px;
}

.line {
  width: 80%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.card-four {
  border-radius: 0 10px 10px 0;
}

.button-cards {
  text-decoration: none;
  background-color: #04091e;
  color: #fff;
  cursor: pointer;
  position: relative;
  left: 20px;
  padding: 10px 22px;
}

.button-cards:hover {
  background-color: #1d2235;
}

/*citatul*/
.quotes-cards {
  color: #04091e;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 55px;
  line-height: 1.7;
}

.img-quotes {
  width: 55px;
  height: 55px;
  opacity: 0.3;
  margin-top: 20px;
  position: absolute;
}

.author {
  font-size: 20px;
}

/*secțiunea avantaje*/
.parent {
  background: #04091e;
  display: grid;
  margin: 54px 0 0 200px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div1 img {
  height: 200px;
  margin-top: 10px;
  border-radius: 5px 100px;
  /*scalam imaginea*/
  transform: scale(1.5);
}

.div2 {
  grid-area: 2 / 1 / 3 / 2;
}

.div2 img {
  height: 200px;
  margin-top: 75px;
  border-radius: 100px 5px;
  /*scalam imaginea*/
  transform: scale(1.5);
}

.div3 {
  color: #fff;
  font-size: 20px;
  grid-area: 1 / 2 / 3 / 3;
}

.div3 h2 {
  font-size: 30px;
  margin-top: 130px;
  padding-bottom: 50px;
}

.div3 li {
  list-style: none;
  background: url("/public/Images/logo_lista.png") no-repeat left center;
  font-size: 16px;
  padding: 15px 9px 9px 40px;
}

/*section four*/

.title-section-four {
  color: #04091e;
  text-align: center;
  margin-top: 100px;
  font-size: 35px;
}

.paragraph-section-four {
  color: #04091e;
  text-align: center;
  margin-top: 20px;
  line-height: 1.7;
}

.cards-doctors {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.doctor-one,
.doctor-two,
.doctor-three,
.doctor-four,
.doctor-five {
  background: #04091e;
  color: #fff;
  height: 120px;
  width: 280px;
  margin-right: 40px;
}

.name-doctor {
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 70px;
}

.circular--square {
  display: block;
  margin: auto;
  position: relative;
  object-fit: cover;
  bottom: 60px;
  border-radius: 60px;
  width: 80px;
  height: 80px;
}

/*formular de contact*/

.section-five {
  margin: 40px 0;
  display: grid;
}

.contact-us {
  width: 84%;
  height: auto;
  margin: auto;
  display: flex;
}

.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
}

.contact-form {
  width: 100%;
  height: auto;
  flex: 30%;
  padding: 30px;
  text-align: center;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.contact-form-text {
  height: 40px;
}

.contact-form-textarea {
  height: 130px;
}

.contact-form-text,
.contact-form-textarea,
.contact-form-btn {
  width: 100%;
  color: #04091e;
  border: 1px solid #bcbcbc;
  margin-bottom: 20px;
  padding: 15px;
}

.contact-form-btn {
  background: #0dce94;
  color: #fff;
  padding: 10px 0;
  cursor: pointer;
  font-size: 18px;
}

.contact-form-btn:hover {
  background: #0dce9494;
}
